body {
  background-color: #85144B;
  color: #FFFFFF;
  font-size: 22px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link {
   color:#FFE924;
} /* unvisited */

a:visited {
   color:#D1BC00;
} /* visited */

a:hover {
   color:#FF851B;
} /* mouse over */

a:active {
  color:#FFEE59;
} /* selected */

h1 {
  font-size: 2em;
}

.title {
  margin: 20px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

p {
  font-size: 100%;
  text-align: left;
  line-height: 2.0;
}
